<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Main Skills</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row" style="margin-left: 10rem;">
      <div class="col-lg-4">
        <img src="img/icon/html.png" style="width: 75px; height: 75px;">
      </div>
      <div class="col-lg-4">
        <img src="img/icon/css.png" style="width: 75px; height: 75px;">
      </div>
      <div class="col-lg-4">
        <img src="img/icon/js.png" style="width: 75px; height: 75px;">
      </div>
      <div class="col-lg-4">
        <img src="img/icon/java.png" style="width: 75px; height: 75px;">
      </div>
      <div class="col-lg-4">
        <img src="img/icon/jquery.png" style="width: 75px; height: 75px;">
      </div>
      <div class="col-lg-4">
        <img src="img/icon/mysql.png" style="width: 75px; height: 75px;">
      </div>
    </div>
  </div>
</section>
