<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Main Skills</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>HTML</p>
      </div>
      <div class="col-lg-6">
        <p>CSS</p>
      </div>
      <div class="col-lg-6">
        <p>JAVASCRIPT</p>
      </div>
      <div class="col-lg-6">
        <p>JAVA</p>
      </div>
      <div class="col-lg-6">
        <p>JQUERY</p>
      </div>
      <div class="col-lg-6">
        <p>MYSQL</p>
      </div>
    </div>
  </div>
</section>
