<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Main Skills</h2>
        <hr class="star-light">
      </div>
    </div>
    <div style="display: flex; margin-left: 100px;">
      <div style="width: 75px; height: 75px; margin: 50px;">
        <img src="img/icon/html.png">
      </div>
      <div style="width: 75px; height: 75px; margin: 50px;">
        <img src="img/icon/css.png">
      </div>
      <div style="width: 75px; height: 75px; margin: 50px;">
        <img src="img/icon/js.png">
      </div>
      <div style="width: 75px; height: 75px; margin: 50px;">
        <img src="img/icon/java.png">
      </div>
      <div style="width: 75px; height: 75px; margin: 50px;">
        <img src="img/icon/jquery.png">
      </div>
      <div style="width: 75px; height: 75px; margin: 50px;">
        <img src="img/icon/mysql.png">
      </div>
      <div style="width: 75px; height: 75px; margin: 50px;">
        <img src="img/icon/git.png">
      </div>
      <div style="width: 75px; height: 75px; margin: 50px;">
        <img src="img/icon/spring.png">
      </div>
      <div style="width: 75px; height: 75px; margin: 50px;">
        <img src="img/icon/react.png">
      </div>
      <div style="width: 75px; height: 75px; margin: 50px;">
        <img src="img/icon/c.png">
      </div>
      <div style="width: 75px; height: 75px; margin: 50px;">
        <img src="img/icon/python.png">
      </div>
    </div>
  </div>
</section>
